* {
  font-family: superclarendon, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: $white;
}

body {
  font-size: 14px;
  margin: 0;
  background-color: $white;
}

#page-wrapper{
  min-height: 100%;
  min-width: 100%;
  background-color: $light-red;
}

a {
  position: relative;
  color: $white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
  &:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 1px;
    background: $white;
    transition: all 0.2s linear;
    width: 0;
    bottom: -1px;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

@mixin separation_border {
  border-style: solid;
}

.separation_border_bottom_thin {
  @include separation_border;
  border-width: 0 0 1px 0;
}

.separation_border_top_thin {
  @include separation_border;
  border-width: 1px 0 0 0;
}

p {
  color: $light-gray;
  line-height: 1.2;
}

main {
  max-width: 990px;
  margin: 0 auto;
}

.content {
  padding: 0 $default-spacer $double-default-spacer $default-spacer;
}
