* {
  font-family: superclarendon, serif;
}

p {
  color: $light-gray;
  line-height: 1.2;
}

body {
  margin: 0;
  background-color: $light-red;
}

h1, h2, h3, h4, h5, h6 {
  &.title {
    font-size: 1.5rem;
    font-variant: small-caps;
    color: $light-gray;
  }
}

main {
  max-width: 990px;
  margin: 0 auto;
}

.content {
  padding: 0 $default-spacer;
}
