@font-face {
  font-family: "FetteUNZFraktur";
  src: url("~@/assets/fonts/FetteUNZ/FetteUNZFraktur.eot"); /* IE9 Compat Modes */
  src: url("~@/assets/fonts/FetteUNZ/FetteUNZFraktur.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~@/assets/fonts/FetteUNZ/FetteUNZFraktur.otf") format("opentype"), /* Open Type Font */
  url("~@/assets/fonts/FetteUNZ/FetteUNZFraktur.svg") format("svg"), /* Legacy iOS */
  url("~@/assets/fonts/FetteUNZ/FetteUNZFraktur.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~@/assets/fonts/FetteUNZ/FetteUNZFraktur.woff") format("woff"), /* Modern Browsers */
  url("~@/assets/fonts/FetteUNZ/FetteUNZFraktur.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
